<header>
  <div class="icon">
    <img src="./assets/forms-app.png" alt="app-icon" />
    <h1>Forms App</h1>
  </div>
  <fa-search></fa-search>
  <div class="profile">
    <img src="../../../assets/forms-app.png" alt="" />
  </div>
</header>
<main>
  <h1>Start a new form</h1>
  <div class="dashboard">
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
  </div>
  <h2>Recent forms</h2>
  <div class="dashboard">
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
    <fa-preview-card></fa-preview-card>
  </div>
</main>
